body{
	background-color:#f7f7f7;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Adobe Heiti Std";
}
th{
	font-size:120%;
}
td{
	text-align: center;
}
caption{
	text-align: left;
	font-family: "Adobe Heiti Std";
	font-size: 200%;
}