
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(../Content/img/background-clearing.jpg);
    background-repeat:no-repeat;
    height:100%;
}
.main {
    height:100vh;
}

/*.mines {
    margin-left:300px;
    margin-top:200px;
}

.mines {
    font-size:x-large;
}
*/
td {
    background-color: lightgreen;
}

.t01{
    padding:15px;
}
.hidden-info {
    display: none;
}

#mine-details-container {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    display: none;
    background: #fff;
    min-height: 300px;
}

#mine-details-container.show{
    display: block;
}

#mine-details-container > .close-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.mine-details-btn {
    cursor: pointer;
}

#villageimg{
    position:absolute;
    top:205px;
    left:586px;
}

.mine-wrapper{
    position: absolute;
    top: 205px;
    left: 586px;
}

.mine-level {
    position: absolute;
    padding:4px;
    text-align:center;
    background:green;
    width:30px;
    height:30px;
    border-radius:15px;
    transition:all .2s linear;
}
.level{
     position: absolute;
}
.mine-level:hover{
    transform:scale(1.5);
}


.mine-clay {
    background: #fbc273;
    border-color:#a3714e;
    border-style:solid;
    border-width:thin;
    box-shadow: 0px 3px 2px #464646;
    transform:translate(6.3px,6.3px);
}

.mine-clay-1{
    top:236px;
    left:142px;
}
.mine-clay-2{
    top:223px;
    left:327px;
}
.mine-clay-3{
    top:69px;
    left:248px;
}

.mine-wheat {
    background: #fae47e;
    border-color:#756726;
    border-style:solid;
    border-width:thin;
    box-shadow: 0px 3px 2px #464646;
    transform:translate(6.3px,6.3px);
}

.mine-wheat-1{
    top:164px;
    left:43px;
}
.mine-wheat-2{
    top:154px;
    left:125px;
}
.mine-wheat-3{
    top:112px;
    left:47px;
}
.mine-wheat-4{
    top:109px;
    left:114px;
}
.mine-wheat-5{
    top:152px;
    left:371px;
}
.mine-wheat-6{
    top:16px;
    left:236px;
}

.mine-iron {
    background: #cae9e1;
    border-color:#80a68d;
    border-style:solid;
    border-width:thin;
    box-shadow: 0px 3px 2px #464646;
    transform:translate(6.3px,6.3px);
}

.mine-iron-1{
     top: 82px;
    left: 375px;
}

.mine-iron-2{
     top: 53px;
    left: 88px;
}

.mine-wood {
    background: #a7de8d;
    border-color:#548c38;
    border-style:solid;
    border-width:thin;
    box-shadow: 0px 3px 2px #464646;
    transform:translate(6.3px,6.3px);
}

.mine-wood-1{
     top: 207px;
    left: 239px;
}

.mine-wood-2{
     top: 26px;
    left: 325px;
}

.mine-wood-3{
     top: 16px;
    left: 129px;
}

@keyframes upgrading{
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.5);
    }
    100% {
        transform:scale(1);
    }
}

.upgrading{
    animation:upgrading 1s infinite;
}