@model WebApplication1.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}

<h1>Your cities: </h1>
<table>
    @{
        int i = 1;
        foreach (var city in Model.Cities)
        {
            <tr>
                <td style="font-size: 20px">@Html.ActionLink(""+city.CityId,"Mines","Index", new { city.CityId }, null)</td>
            </tr>
            i++;
        }
      }
</table>


